<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Abigail Hall</h1>
    <p>A hardworking, flexible and innovative young woman who is reliable, trust worthy and committed to professional excellence. As someone who is cooperative and always willing to accept challenges with enthusiasm, this makes the applicant a valuable asset to any company. The goal is to achieve excellence in all endeavors and make worthy contributions to family, friends, community and Jamaica at large.</p>
</body>
</html>